<div data-role="view" id="interestView" data-title="Add Interests" data-model="app.interestService.viewModel" data-show="app.interestService.viewModel.show">
    <div data-role="header">
        <div data-role="navbar" class="nvbar">
            <a data-role="button" data-align="left" class="menu" data-rel="drawer" href="#drawerList"></a>
            <span data-role="view-title"></span>
            <a data-role="button" data-align="right" class="search" data-bind="click:searchCall"></a>
        </div>
    </div>
    <div data-role="content">
        <div class="wrapper">
            <div class="mainDv">
                <p class="textTitle">
                    Interest
                </p> 
                <p>
                    <select class="selectBox">
                        <option>Select Interest</option>
                        <option>Category 1</option>
                        <option>Category 2</option>
                        <option>Category 3</option>
                        <option>Category 4</option>
                        <option>Category 5</option>
                    </select>
                </p>
                <p>
                    <a data-role="button" data-bind="click:interestSubmit" class="intrstbtn">Submit</a>
                </p>
            </div>
        </div>
    </div>
</div>