<div data-role="view" id="contactView" data-model="app.contactService.viewModel" data-show="app.contactService.viewModel.show">
    <div data-role="content">
        <div class="wrapper">
            <div class="title">
                <p>
                    Contact Us
                </p>
            </div>
            <div class="formFld">
                <p>
                    <input type="text" name="cont_fname" class="txtfld" id="cont_fname" placeholder="First Name"/>
                </p>
                <p>
                    <input type="text" name="cont_lname" class="txtfld" id="cont_lname" placeholder="Last Name"/>
                </p>
                <p>
                    <input type="text" name="cont_msgTitle" class="txtfld" id="cont_msgTitle" placeholder="Message Title"/>
                </p>
                <p>
                    <textarea placeholder="Message Description" class="txtfldarea" name="cont_msgDescript"></textarea>
                </p>
                <p>
                    <input type="text" name="Cont_email" class="txtfld" id="Cont_email" placeholder="Email Address"/>
                </p>
            </div>
            <div class="eventBtn">
               <div class="signDv">
                    <a data-role="button" class="login">Submit</a>
               </div>
            </div>
        </div>
    </div>
</div>