<div data-role="view" id="createProfileView" data-title="Create Profile" data-use-native-scrolling="true" data-model="app.userService.viewModel" data-show="app.userService.viewModel.show">
    <div data-role="header">
        <div data-role="navbar" class="nvbar">
            <a data-role="button" data-align="left" class="menu" data-rel="drawer" href="#drawerList"></a>
            <span data-role="view-title"></span>
            <a data-role="button" data-align="right" class="search" data-bind="click:searchCall"></a>
        </div>
    </div>
    <div data-role="content">
        <div class="wrapper">
            <div class="hdprofDv">
                <div class="innerprofDv">
                    <p>
                        <img src="styles/images/img1.png"/>
                    </p>
                    <p>
                        Dave Michelle
                    </p>
                    <p>Age : 29</p>
                </div>
            </div>
            <div class="frmfldDv">
                <div class="sinfldDv">
                    <label>Select Location</label>
                    <p>
                        <select class="drpdwn">
                            <option>Select Your Current Location</option>
                        </select>
                    </p>
                </div>
                <div class="sinfldDv">
                    <label>Select Gender</label>
                    <p>
                        <label class="labeltxt">
                            <input type="radio" name="male" id="male"/>
                            Male
                        </label>
                        <label class="labeltxt">
                            <input type="radio" name="male" id="male"/>
                            Female
                        </label>
                        
                    </p>
                </div>
                <div class="sinfldDv">
                    <label>Ethnicity</label>
                    <p>
                        <label class="labeltxt">
                            White/Caucasian
                        </label>
                        <input type="radio" name="male" id="male" class="ethnicity"/>
                    </p>
                    <p>
                        <label class="labeltxt">
                            Asian
                        </label>
                        <input type="radio" name="male" id="male" class="ethnicity"/>
                    </p>
                    <p>
                        <label class="labeltxt">
                            Black
                        </label>
                        <input type="radio" name="male" id="male" class="ethnicity"/>
                    </p>
                    <p>
                        <label class="labeltxt">
                           Hispanic
                        </label>
                        <input type="radio" name="male" id="male" class="ethnicity"/>
                    </p>
                    <p>
                        <label class="labeltxt">
                           Other
                        </label>
                        <input type="radio" name="male" id="male" class="ethnicity"/>
                    </p>
                </div>
                <div class="sinfldDv">
                    <label>About You</label>
                    <p>
                        <textarea class="txtara">
                            
                        </textarea>
                    </p>
                </div>
                <div class="sinfldDv">
                    <label>Interested In</label>
                    <p>
                        <input type="text" name="interested" class="txtint" placeholder="Add Interests"/>
                        <img src="styles/images/add.png" style="float:right"/>
                    </p>
                </div>
                <div class="sinfldDv">
                    <label style="font-weight:600">Personal Information</label>
                    <p class="article">
                       
                    </p>
                </div>
                <div class="sinfldDv">
                    <label>Relationship Status</label>
                    <p>
                        <label class="labeltxt">
                           Single
                        </label>
                        <input type="radio" name="male" id="male" class="ethnicity"/>
                    </p>
                    <p>
                        <label class="labeltxt">
                            Token
                        </label>
                        <input type="radio" name="male" id="male" class="ethnicity"/>
                    </p>
                    <p>
                        <label class="labeltxt">
                            Open
                        </label>
                        <input type="radio" name="male" id="male" class="ethnicity"/>
                    </p>
                </div>
                <div class="sinfldDv">
                    <label>Height</label>
                    <p>
                        <select class="drpdwn">
                            <option>Select Height</option>
                        </select>
                    </p>
                </div>
                <div class="sinfldDv">
                    <label>Weight</label>
                    <p>
                        <select class="drpdwn">
                            <option>Select Weight</option>
                        </select>
                    </p>
                </div>
                
                <div class="sinfldDv">
                    <label>Body Type</label>
                    <p>
                        <select class="drpdwn">
                            <option>Select Weight</option>
                            <option>Average</option>
                            <option>A Few Extra Pounds</option>
                            <option>Athletic</option>
                            <option>Muscular</option>
                            <option>Slim</option>
                        </select>
                    </p>
                </div>
                <div class="sinfldDv">
                    <label>Hair Color</label>
                    <p>
                        <select class="drpdwn">
                            <option>Select Color</option>
                            <option>Black</option>
                            <option>Brown</option>
                            <option>White</option>
                            <option>Shaved</option>
                            <option>Dyed</option>
                            <option>Bald</option>
                        </select>
                    </p>
                </div>
                <div class="sinfldDv">
                    <label>Eye Color</label>
                    <p>
                        <select class="drpdwn">
                            <option>Select Color</option>
                            <option>Brown</option>
                            <option>Black</option>
                            <option>Blue</option>
                            <option>Other</option>
                        </select>
                    </p>
                </div>
                <div class="sinfldDv">
                    <label>Smoking</label>
                    <p>
                        <select class="drpdwn">
                            <option>Select Option</option>
                            <option>Non-Smoker</option>
                            <option>Anti-Smoker</option>
                            <option>Social Smoker</option>
                            <option>Chain Smoker</option>
                        </select>
                    </p>
                </div>
                <div class="sinfldDv">
                    <label>Drinking</label>
                    <p>
                        <select class="drpdwn">
                            <option>Select Option</option>
                            <option>No</option>
                            <option>Occasionally</option>
                            <option>Yes, Please</option>
                            <option>Anti-Drinking</option>
                        </select>
                    </p>
                </div>
                <div class="sinfldDv">
                    <label>Language</label>
                    <!--<p>
                        <select class="drpdwn">
                            <option>Select Option</option>
                        </select>
                    </p>-->
                    
                    <div class="selectBox" onclick="showCheckboxes()">
                        <select>
                            <option>Select Option</option>
                        </select>
                        <div class="overSelect"></div>
                    </div>
                    <div id="checkboxes">
                        <label for="one"><input type="checkbox" id="one"/>Language 1</label>
                        <label for="two"><input type="checkbox" id="two"/>Language 2</label>
                        <label for="three"><input type="checkbox" id="three"/>Language 3</label>
                    </div>
                </div>
            </div>
            <div class="subfrmDv">
                <p>
                    <a data-role="button" class="subbtn" data-bind="click:usersubmit">Submit</a>
                </p>
            </div>
            
        </div>
    </div>
</div>

<script>
    var expanded = false;
    function showCheckboxes() {
        var checkboxes = document.getElementById("checkboxes");
        if (!expanded) {
            checkboxes.style.display = "block";
            expanded = true;
        } else {
            checkboxes.style.display = "none";
            expanded = false;
        }
    }
</script>