<div data-role="view" id="myprofile" data-title="My Profile" data-model="app.profileService.viewModel" data-show="app.profileService.viewModel.show">
    <div data-role="header">
        <div data-role="navbar" class="nvbar">
            <a data-role="button" data-align="left" class="menu" data-rel="drawer" href="#drawerList"></a>
            <span data-role="view-title"></span>
        </div>
    </div>
    <div data-role="content">
        <div class="wrapper">
            <div class="picDv">
                <img src="styles/images/img1.png" />
            </div>
            <div class="titleEditDv">
                <div class="titlePart">
                    <p>
                        <span class="nameSpan">Dave Michalle,</span><span class="ageSpan">19</span>
                    </p>
                    <p>
                        <span style="float:left"><img src="styles/images/location.png" style="margin-top: -5px;"/></span><span style="margin-left: 10px;color: #6F6F6F;font-size: 17px;">Make City, UK</span>
                    </p>
                </div>
                <div class="editPart">
                    <a data-role="button"></a>
                </div>
            </div>
            <div class="contentDataDv">
                
            </div>
        </div>
    </div>
</div>