<div data-role="view" id="meetView" data-title="Meet" data-use-native-scrolling="true" data-model="app.meetService.viewModel" data-show="app.meetService.viewModel.show">
    <div data-role="header">
        <div data-role="navbar" class="nvbar">
            <a data-role="button" data-align="left" class="menu" data-rel="drawer" href="#drawerList"></a>
            <span data-role="view-title"></span>
            <a data-role="button" data-align="right" class="search" data-bind="click:searchCall"></a>
            <a data-role="button" data-align="right" class="filter" data-bind="click:filterCall"></a>
        </div>
    </div>
    <div data-role="content">
        <div class="wrapper">
            <ul id="listview" data-role="listview" data-template="listview_tmpl" data-bind="source:searchlistData"></ul>
        </div>
    </div>
</div>

<!--<script type="text/x-kendo-template" id="listview_tmpl">
    <div class='main'>
        <div class="imageDiv" data-name="#:data['name']#" data-bind="click:meetListItemSelect">
            <img src='#:data['url']#'/>
        </div>
        <div class="contentDv">
            <p>#:data['name']#</p>
            <p>
                <label>Interest: <span class="intrstSpn">#:data['interest']#</span></label>&nbsp;&nbsp;
                <label>Age: <span style="font-weight:bold">#:data['age']#</span></label>
            </p>
        </div>
    </div>
</script>-->

<script type="text/x-kendo-template" id="listview_tmpl">
    <div class='main'>
        <div class="imageDiv" data-name="#:data['name']#" data-bind="click:meetListItemSelect">
            <img src='#:data['url']#'/>
    
            #if(data['statusIcon'] !== ""){#
                <img src='#:data['statusIcon']#' class="status"/>
            #}#
        </div>
        <div class="contentDv">
            <p>#:data['name']#</p>
            <p>
                <label>Interest: <span class="intrstSpn">#:data['interest']#</span></label>&nbsp;&nbsp;
                <label>Age: <span style="font-weight:bold">#:data['age']#</span></label>
            </p>
        </div>
    </div>
</script>