<div data-role="view" id="messageView" data-title="Messages" data-use-native-scrolling="true" data-model="app.messageService.viewModel" data-show="app.messageService.viewModel.show">
    <div data-role="header">
        <div data-role="navbar" class="nvbar">
            <a data-role="button" data-align="left" class="menu" data-rel="drawer" href="#drawerList"></a>
            <span data-role="view-title"></span>
            <a data-role="button" data-align="right" class="search" data-bind="click:searchCall"></a>
        </div>
    </div>
    <div data-role="content">
        <div class="wrapper" id="example">
            <div class="mainTabstrip">
                <div class="tabstripchild1">
                    <a data-role="button" data-bind="click:getmessagesData" data-id="message" class="messageBtn">Messages</a>
                </div>
                <div class="tabstripchild2">
                    <a data-role="button" class="sendmessageBtn" data-bind="click:getmessagesData" data-id="sendmessage">Sent Messages</a>
                </div>
            </div>
            
            <ul id="messageData" data-role="listview" data-template="messageDataView" data-bind="source:messagelistData"></ul>
            <ul id="sendmessageData" data-role="listview" data-template="sendmessageDataView" data-bind="source:sendmessagelistData"></ul>
            <!--<ul id="myList" data-role="listview"></ul>-->
        </div>
    </div>
</div>

<script type="text/x-kendo-template" id="messageDataView">
    <div class="main" data-name="#:data['name']#" data-bind="click:listItemSelect">
        <div class="imageDv">
            <img src='#:data['url']#'/>
        </div>
        <div class="contentDv">
            <p>#:data['name']#</p>
            <p>#:data['des']#</p>
        </div>
        <div class="time_iconDV">
            <p>12:00PM</p>
        </div>
    </div>
</script>

<script type="text/x-kendo-template" id="sendmessageDataView">
    <div class="main" data-name="#:data['name']#" data-bind="click:listItemSelect">
        <div class="imageDv">
            <img src='#:data['url']#'/>
        </div>
        <div class="contentDv">
            <p>#:data['name']#</p>
            <p>#:data['des']#</p>
        </div>
        <div class="time_iconDV">
            <p>12:00PM</p>
        </div>
    </div>
</script>