<div data-role="view" id="privacypolicyView" data-use-native-scrolling="true" data-title="Privacy Policy" data-model="app.settingService.viewModel" data-show="app.settingService.viewModel.policyshow">
    <div data-role="header">
        <div data-role="navbar" class="nvbar">
            <a data-role="button" data-align="left" class="menu" data-rel="drawer" href="#drawerList"></a>
            <span data-role="view-title"></span>
        </div>
    </div>
    <div data-role="content">
        <div class="wrapper">
            <h2>Privacy Policy</h2>
            <p style="text-align:justify"> 
                The Terms and any dispute or claim arising out of or in connection with it or its subject matter (including non-contractual disputes or claims) shall be governed by and construed in accordance with English law. In the event there is a discrepancy between this English language version and any translated copies of the Website Terms and Conditions, the English version shall prevail.
            </p>
            <p style="text-align:justify">
                The Terms and any dispute or claim arising out of or in connection with it or its subject matter (including non-contractual disputes or claims) shall be governed by and construed in accordance with English law. In the event there is a discrepancy between this English language version and any translated copies of the Website Terms and Conditions, the English version shall prevail.
            </p>
            <p style="text-align:justify">
                The Terms and any dispute or claim arising out of or in connection with it or its subject matter (including non-contractual disputes or claims) shall be governed by and construed in accordance with English law. In the event there is a discrepancy between this English language version and any translated copies of the Website Terms and Conditions, the English version shall prevail.
            </p>
            <p style="text-align:justify">
                The Terms and any dispute or claim arising out of or in connection with it or its subject matter (including non-contractual disputes or claims) shall be governed by and construed in accordance with English law. In the event there is a discrepancy between this English language version and any translated copies of the Website Terms and Conditions, the English version shall prevail.
            </p>
            <p style="text-align:justify">
                The Terms and any dispute or claim arising out of or in connection with it or its subject matter (including non-contractual disputes or claims) shall be governed by and construed in accordance with English law. In the event there is a discrepancy between this English language version and any translated copies of the Website Terms and Conditions, the English version shall prevail.
            </p>
        </div>
    </div>
</div>