<div data-role="view" id="requestView" data-title="Request" data-model="app.requestService.viewModel" data-show="app.requestService.viewModel.show">
    <div data-role="header">
        <div data-role="navbar" class="nvbar">
            <a data-role="button" data-align="left" class="menu" data-rel="drawer" href="#drawerList"></a>
            <span data-role="view-title"></span>
            <a data-role="button" data-align="right" class="search" data-bind="click:searchCall"></a>
        </div>
    </div>
    <div data-role="content">
        
    </div>
</div>