<div data-role="view" id="searchView" data-title="Search" data-use-native-scrolling="true" data-model="app.searchService.viewModel" data-show="app.searchService.viewModel.show">
    <div data-role="header">
        <div data-role="navbar" class="nvbar">
            <a data-role="button" data-align="left" class="menu" data-rel="drawer" href="#drawerList"></a>
            <span data-role="view-title"></span>
            <a data-role="button" data-align="right" class="filter" data-bind="click:filterCall"></a>
        </div>
    </div>
    <div data-role="content">
        <div class="wrapper" id="example">
            <div class="searchFldDv">
                <p>
                    <input type="text" name="search" id="search" placeholder="Search People"/>
                </p>
            </div>
            <div class="listviewDv">
                <ul id="searchData" data-role="listview" data-template="searchyDataView" data-bind="source:searchlistData"></ul>
            </div>
             
            <!--<ul id="myList" data-role="listview"></ul>-->
        </div>
    </div>
</div>

<script type="text/x-kendo-template" id="searchyDataView">
    <div class='main' data-name="#:data['name']#" data-bind="click:listItemSelect">
        <div class="imageDiv">
            <img src='#:data['url']#'/>
        </div>
        <div class="contentDv">
            <p>#:data['name']#</p>
            <p>
                <label><img src='#:data['locationimg']#'/></label>
                <span class="intrstSpn">#:data['place']#</span>
            </p>
        </div>
    </div>
</script>