<div data-role="view" id="signupView" data-use-native-scrolling="true">
    <div data-role="content">
        <div class="wrapper">
            <div class="picUploadDv">
                <p>
                    <a data-role="button" style="border:none;background:none">
                        <img src="styles/images/photo_upload.png"/>
                    </a>    
                </p>
                <p>
                    Tap To Upload Photo
                </p>
            </div>
            <div class="signupFormFld">
                <p>
                    <input type="text" name="fname" id="fname" class="fnametxtfld" placeholder="First Name"/>
                    <input type="text" name="lname" id="lname" class="lnametxtfld" placeholder="Last Name"/>
                </p>
                <p>
                    <input type="text" name="signupEmail" id="signupEmail" class="txtfld" placeholder="Email Address"/>
                </p>
                <p>
                    <input type="text" name="signupUsername" id="signupUsername" class="txtfld" placeholder="Username"/>
                </p>
                <p>
                    <input type="number" name="signupContact" id="signupContact" class="txtfld" placeholder="Phone Number"/>
                </p>
                <p>
                    <input type="password" name="signupPassword" id="signupPassword" class="txtfld" placeholder="Password"/>
                </p>
                <p>
                    <input type="password" name="signupConfPwd" id="signupConfPwd" class="txtfld" placeholder="Confirm Password"/>
                </p>
                
            </div>
            <div class="termsCondnDv">
                <div class="inlineFldLeft">
                    <p>
                        <input type="checkbox" name="remember" id="remember"/>
                    </p>
                    <p>
                        Agree with<a data-role="button" class="removebtn" style="margin-left:-5px;margin-right:-5px">Terms & Condition</a>and<a data-role="button" class="removebtn" style="margin-left:-5px;">Privacy Policy</a>
                    </p>
                </div>
            </div>
            <div class="buttonDv">
                <div class="signDv">
                    <a data-role="button" class="signupBtn">Register</a>
                </div>
            </div>
            <div class="bottomTxtDv">
                <p>
                    <span>Already Have An Account?</span>&nbsp;&nbsp;<a data-role="button" class="removeBlkBtn">Click Here</a> 
                </p>
            </div>
        </div>
    </div>
</div>