#loginView .km-content,#signupView .km-content,#forgotPwdView .km-content,#contactView .km-content{background-color:#002631}
#myprofile .km-content,#termsConditionView .km-content,#settingView .km-content,#interestView .km-content ,#reportuserView .km-content,#messageView .km-content{background-color:#fff}

.removeBlkBtn {border: none !important;background: none !important;margin-left: -15px !important;}
.removeBlkBtn.k-state-active:active {color:#D5DE23 !important;}

#drawerList .km-scroll-wrapper {background:url(./images/sidebar_bg.png) no-repeat !important;}
.drawerListView li {background:url(./images/sidebar_bg.png) !important;color:#fff;}
.drawerListView li:first-child {border-top-width: 0px !important;border-bottom-width: 0px !important;box-shadow: inset 0 0px 0 rgba(255,255,255,0.2) !important;}
.drawerListView li:nth-child(2) {border-top-width: 0px !important;box-shadow: inset 0 0px 0 rgba(255,255,255,0.2) !important;}

/*.drawerListView li {background-color: #002631 !important;color:#fff;padding:10px .7em;border-color:#000 !important}
.drawerListView li:first-child {border-top-width: 0px !important;box-shadow: inset 0 0px 0 rgba(255,255,255,0.2) !important;}
.drawerListView li:last-child{border-bottom-width: 1px !important;border-color:#33515A !important}*/

ol.km-pages {display:none !important;}
#sendmessageData,#sentRequest {display:none}