@media (min-width:0px) and (max-width:390px) {
    
    /*Login View*/
    
    #loginView .wrapper {width: 90%;margin: 0px auto;}
    #loginView .logo{width: 100%;margin-top: 15%;margin-bottom: 10%;}
    #loginView .logo p:nth-child(1) {text-align:center}
    #loginView .logo p:nth-child(1) img {width:70px;height:70px}
    #loginView .logo p:nth-child(2) {text-align:center;font-size: 22px;margin: -10px 0 0 0;font-family: -webkit-pictograph;color: #fff;}
    #loginView .loginfld {width:100%;height:auto;}
    #loginView .loginfld p:nth-child(1){padding: 0px 0 15px 0;}
    /*#loginView .txtfld{background: #002631;outline-color: #002631;width:100%}*/
    #loginView .txtfld{width: 100%;height: 35px;padding-left: 35px;background-color: #002631;color:#fff;border:1px solid #7E9198;}
    #loginView .username {background:url(./images/user_icon.png) no-repeat;background-position: 5px 5px;}
    #loginView .password {background:url(./images/lock.png) no-repeat;background-position: 5px 5px;}
    #loginView ::-webkit-input-placeholder {color:#71898D;font-size:14px;}
	#loginView .inlineFld {display:inline-block;width:100%}
    #loginView .inlineFld .inlineFldLeft {float:left;width:50%;}
    #loginView .inlineFld .inlineFldLeft p:nth-child(1){float:left;width:10px;height:18px;margin-top: 14px;display: inline-block;}
    #loginView .inlineFld .inlineFldLeft p:nth-child(1) .checkFld {width: 100%;height: 100%;}
    #loginView .inlineFld .inlineFldLeft p:nth-child(2) span {font-size:15px;font-weight:500;color: #fff;}
    #loginView .inlineFld .inlineFldRight {float:right;width:50%;}
    #loginView .inlineFld .inlineFldRight a {text-decoration:none;font-size: 15px;font-weight: 500;color:#D5DE23}
    #loginView .wrapper .btnGrp {width:93%;display:block;margin:0px auto;margin-top: 20px;}
    #loginView .wrapper .btnGrp .signDv{width: 100%;margin-bottom: 10px;}
    #loginView .wrapper .btnGrp .signDv a {width: 98%;height: 40px;line-height: 20px;background-color:#3B5999 !important;color:#fff;background:url('./images/fb.png') no-repeat;font-size: 17px;font-family: times;font-weight: 500;background-position: 35px 6px;}
    #loginView .wrapper .btnGrp .signDv a span{margin-left: 10px;}
    #loginView .wrapper .btnGrp .signDv .login {border: none !important;background: #D5DE23 !important;color: #000 !important;font-weight: 600 !important;overflow:hidden}
    #loginView .wrapper .btnGrp .signDv .login span{font-size: 18px;}
    /*#loginView .wrapper .btnGrp .signDv .fblogin {border: none !important;background: url('./images/fb.png') no-repeat !important;background-size:100px 100px;font-weight: 600 !important;overflow:hidden}*/
    #loginView .wrapper .signupTxt {margin-top:25px;}
    #loginView .wrapper .signupTxt p {text-align:center}
    #loginView .wrapper .signupTxt p span{font-size: 14px;font-weight: 500;color:#fff}
    #loginView .wrapper .signupTxt p a {text-decoration:none;color:#D5DE23;font-weight:bold}
    
    /*---------------------------------------------------------------------------------------------------------------------*/
    /*Signup View*/
    #signupView .wrapper {width: 90%;margin: 0px auto;  margin-top: 15%;}
    #signupView .wrapper .picUploadDv {width:100%;margin-bottom: 12%;}
    #signupView .wrapper .picUploadDv P {text-align:center;  margin-top: -15px;}
    #signupView .wrapper .signupFormFld{width: 100%;}
    #signupView .wrapper .signupFormFld .fnametxtfld{height: 35px;padding-left: 7px;width:48%;background-color: #002631;color:#fff;border:1px solid #7E9198}
    #signupView .wrapper .signupFormFld .lnametxtfld{height: 35px;padding-left: 7px;width:48%;margin-left:7px;background-color: #002631;color:#fff;border:1px solid #7E9198}
   /* #signupView .txtfld{background: #002631;outline-color: #002631;width:100%}*/
    #signupView .txtfld{width: 100%;height: 35px;padding-left: 7px;border: 1px solid #7E9198;;background-color: #002631;color:#fff}
    #signupView ::-webkit-input-placeholder {color:#71898D;font-size:14px;}
    #signupView .signupFormFld p {padding: 0px 0 10px 0;}
    #signupView .termsCondnDv {width:100%;display: inline-block;}
    #signupView .termsCondnDv .inlineFldLeft {float:left;width:100%;}
    #signupView .termsCondnDv .inlineFldLeft p:nth-child(1){float:left;width:10px;height:18px;margin-top: 16px;display: inline-block;}
    #signupView .termsCondnDv .inlineFldLeft p:nth-child(1) .checkFld {width: 100%;height: 100%;}
    #signupView .termsCondnDv .inlineFldLeft p:nth-child(2){font-size:11px;font-weight:500;color:#fff}
    .removebtn {border:none !important;background:none !important}
    .removebtn span {font-size:12px;font-weight:500;color:#D5DE23 !important;}
    .removebtn:active {border:none !important;background:none !important;color:#D5DE23 !important;}
    #signupView .wrapper .buttonDv {width:95%;margin:0px auto;margin-top: 10px;}
    #signupView .wrapper .buttonDv .signDv{width: 98%;margin-bottom: 10px;margin:0px auto}
    #signupView .wrapper .buttonDv .signDv a {width: 100%;height: 40px;line-height: 20px;font-size: 16px;font-family: times;font-weight: 500;overflow: hidden;}
    .signupBtn{border:none !important;background:#D5DE23 !important;color:#000 !important;font-weight:600 !important;}
    .signupBtn.km-state-active{border:none !important;background:#D5DE23 !important;font-weight:600 !important;overflow:hidden !important}
    
    #signupView .wrapper .bottomTxtDv {margin-top: 25px;width: 100%;margin-bottom: 25px;}
    #signupView .wrapper .bottomTxtDv p {text-align:center}
    #signupView .wrapper .bottomTxtDv p span{font-size: 14px;font-weight: 500;color:#fff}
    #signupView .wrapper .bottomTxtDv p a {text-decoration:none;color:#D5DE23;font-weight:bold}
    
    /*---------------------------------------------------------------------------------------------------------------------*/
    /*Forgot Password*/
    #forgotPwdView .wrapper {width:90%;height:auto;margin:0px auto}
    #forgotPwdView .logoTitle{width: 80%;margin: 0px auto;margin: 0% 20% 0 20%;display: inline-block;}
    #forgotPwdView .logoTitle .logoTitleDv1 {width: 20%;float: left;}
    #forgotPwdView .logoTitle .logoTitleDv1 img {width:45px}
    #forgotPwdView .logoTitle .logoTitleDv2 {float: left;width: 80%;margin-top: 5px;}
    #forgotPwdView .logoTitle .logoTitleDv2 .focus {color:#D5DE47}
    #forgotPwdView .logoTitle .logoTitleDv2 span {color:#fff;font-size:25px}
    #forgotPwdView .formFld label {color:#fff}
    #forgotPwdView .formFld {width:100%;height:auto;margin-top: 20%;}
    #forgotPwdView .formFld .txtfld{width: 100%;height: 35px;padding-left: 7px;border: 1px solid #7E9198;background-color: #002631;color: #fff;}
    #forgotPwdView .wrapper .requestBtnDv{width:100%;height:auto;margin-top: 10%;}
    #forgotPwdView .wrapper .requestBtnDv p {text-align:center}
    .requestBtnDv .forgotBtn{border: none !important;background: #D5DE23 !important;color: #000 !important;font-weight: 600 !important;width: 50%;}
    .requestBtnDv .forgotBtn span {font-size:18px;}
    #forgotPwdView .wrapper .bottomTextData {width:100%;height:auto;margin-top:30%}
    #forgotPwdView .wrapper .bottomTextData p {text-align:center}
    #forgotPwdView .wrapper .bottomTextData p span {font-size:18px;color:#fff}
    #forgotPwdView .wrapper .bottomTextData p a {font-size:18px;color:#D5DE23;text-decoration:none}
    
    /*---------------------------------------------------------------------------------------------------------------------*/
    /*Dashboard*/
    .nvbar {background-color:#002631 !important;color:#fff !important }
    .nvbar .menu {background:url('./images/menu.png') no-repeat !important;padding-left: 40px;padding-bottom: 12px;}
    .nvbar span{font-size: 18px;}
    
    /*---------------------------------------------------------------------------------------------------------------------*/
    /*Drawer*/
    .drawerListView li:first-child {height: auto;}
    .drawerListView li:not(.firstchild) {padding:15px 0px 15px 10px}
    .drawerListView .firstchild .profilePic {width: 100%;margin: 0px auto;}
    .drawerListView .firstchild .profilePic .drawerEditBtn {background: url('./images/edit.png') no-repeat;width: 50px;height: 50px;background-position: center center;float: right;background-size: 58%;border: none;margin-top: 10px;}
    .drawerListView .firstchild .profilePic .drawerEditBtn.fixpos{background-color: #fff;border-radius: 50%;position: absolute;width: 40px;height: 40px;top: 134px;right: 67px;overflow: auto;}
    .drawerListView .firstchild .profilePic p:nth-child(1){text-align:center;padding: 25px 0 0 0;display: block;}
    .drawerListView .firstchild .profilePic p:nth-child(1) img {width:130px;border:2px solid #fff}
    .drawerListView .firstchild .profilePic p:nth-child(2) {text-align:center;padding: 10px 0 15px 0;font-size: 17px;}
    .drawerListView .iconDv {width:12%;float:left}
    .iconDv p {text-align:center;margin:0 0 0 0}
    .iconDv p img {width:30px;height:30px;}
    .drawerListView .titleDv {float:left; margin-top: 7px;width:68%}
    .titleDv span {font-size: 15px;font-family: times;margin-left: 15px;}
    .drawerListView .badgeDv {float:right;width:20%}
    .badgeDv img {width:30px;height:30px;float: right;margin-right: 20px;}
    .badgeDv .badgeTitle {margin: 3px 0 0 7px;background: #FE3032;padding: 7px 0px 0px 5px;width: 30px;height: 30px;border-radius: 50%;}
    
    /*---------------------------------------------------------------------------------------------------------------------*/
    /*My profile Dv*/
    #myprofile .wrapper {width:100%;height:auto;}
    #myprofile .wrapper .picDv {width:100%;height:auto;}
    #myprofile .wrapper .picDv img {width:100%;height:auto}
    #myprofile .wrapper .titleEditDv{width: 100%;height: auto;margin-top: 10px;display:inline-block;}
    #myprofile .wrapper .titleEditDv .titlePart {width:75%;height:100%;float:left;}
    #myprofile .wrapper .titleEditDv .titlePart .nameSpan {color:#125365;font-size: 23px;}
    #myprofile .wrapper .titleEditDv .titlePart .ageSpan {color:#6F6F6F;font-size:22px}
    #myprofile .wrapper .titleEditDv .editPart {width:25%;height:100%;float:left;}
    #myprofile .wrapper .titleEditDv .editPart a{background: url('./images/edit.png') no-repeat;width: 50px;height: 50px;background-position: center center;float: right;background-size: 58%;border: none;margin-top: 10px;}
    
    /*User profile Dv*/
    #userprofile .wrapper {width:100%;height:auto;}
    #userprofile .wrapper .picDv {width:100%;height:auto;}
    #userprofile .wrapper .picDv img {width:100%;height: auto;}
    #userprofile .wrapper .titleEditDv{width: 100%;height: auto;margin-top: 10px;display:inline-block;}
    #userprofile .wrapper .titleEditDv .titlePart {width:60%;height:100%;float:left;}
    #userprofile .wrapper .titleEditDv .titlePart .nameSpan {color:#125365;font-size: 23px;}
    #userprofile .wrapper .titleEditDv .titlePart .ageSpan {color:#6F6F6F;font-size:22px}
    #userprofile .wrapper .titleEditDv .editPart {width:40%;height:100%;float:left;}
    #userprofile .wrapper .titleEditDv .editPart .like{background: url('./images/like.png') no-repeat;width: 60px;height: 60px;background-position: center center;float: right;background-size: 70%;border: none;margin-top: 10px;}
    #userprofile .wrapper .titleEditDv .editPart .remove{background: url('./images/remove.png') no-repeat;width: 60px;height: 60px;background-position: center center;float: right;background-size: 70%;border: none;margin-top: 10px;}
    
    /*---------------------------------------------------------------------------------------------------------------------*/
    /*nearby data*/
    #nearbyView .wrapper {width:100%;height:auto;}
    #nearbyView .nvbar .filter {background:url('./images/filter.png') no-repeat !important;padding:20px 0 0 30px}
    #nearbyView ul{margin-top: 20px;}
    #nearbyView li {float:left;width:50%}
    #nearbyView li .main {width: 100%;display: inline-block;}
    #nearbyView li .main .imageDiv{float: left;}
    #nearbyView li .main .imageDiv img {width:100%;border: 1px solid #ccc;}
    #nearbyView li .main .contentDv{float:left;width:100%}
    #nearbyView li .main .contentDv p:first-child {text-align:center;color:#022829;font-size: 18px;font-weight: 500;}
    #nearbyView li .main .contentDv p:last-child{text-align:center;font-size: 14px;margin-top: -10px;}
    #nearbyView li .main .contentDv p:last-child label {color:#022829;}
    #nearbyView li .main .contentDv p:last-child .intrstSpn{font-weight: bold;;color:#2AA360}
    #nearbyView .km-list>li {border-style: solid;border-width: 0 0 0px 0;line-height:0px}
    
    /*---------------------------------------------------------------------------------------------------------------------*/
    /*BX-SLIDER*/
    .bx-controls {display:none !important}
    .bx-viewport {margin-top:-15px;}
    
    /*---------------------------------------------------------------------------------------------------------------------*/
    /* Request View*/
    #requestView .nvbar .search {background:url('./images/search.png') no-repeat !important;width: 25px;height: 25px;background-size: 100%;padding: 0px 0px 20px 20px;margin: 3px 0px 0 1px;}
    
    /*20 - 10 - 2010*/
    
    /*---------------------------------------------------------------------------------------------------------------------*/
    /*Contact Us View*/
    #contactView .wrapper {width:90%;height:auto;margin:0px auto;margin-top: 15%;}
    #contactView .txtfld{width: 100%;height: 35px;padding-left: 7px;background-color: #002631;color:#fff;border: 1px solid #7E9198;}
    #contactView .txtfldarea{width: 100%;height: 100px;padding-left: 7px;background-color: #002631;color:#fff;border: 1px solid #7E9198;}
    #contactView ::-webkit-input-placeholder {color:#71898D;font-size:14px;}
    #contactView .wrapper .title {width:100%;}
    #contactView .wrapper .title p{text-align: center;font-size: 30px;color: #fff;font-family: times;}
    #contactView .wrapper .eventBtn {width:92%;margin:0px auto;margin-top:15%}
    #contactView .wrapper .eventBtn .signDv{width: 100%;margin:0px auto;margin-bottom: 10px;}
    #contactView .wrapper .eventBtn .signDv .login {width:100%;border: none !important;background: #D5DE23 !important;color: #000 !important;font-weight: 600 !important;overflow:hidden}
    #contactView .wrapper .eventBtn .signDv .login span{font-size: 18px;font-size: 18px;line-height: 27px;font-family: inherit;}
    
    /*---------------------------------------------------------------------------------------------------------------------*/
    /*Setting*/
    #settingView .nvbar .search {background:url('./images/search.png') no-repeat !important;width: 25px;height: 25px;background-size: 100%;padding: 0px 0px 20px 20px;margin: 3px 0px 0 1px;}
    #setting_listview li{padding: 15px 15px 15px 15px;}
    #setting_listview li a{font-size: 18px;}
    
    /*---------------------------------------------------------------------------------------------------------------------*/
    /*Meet View*/
    #meetView .wrapper {width:100%;height:auto;}
    #meetView .nvbar .filter {background:url('./images/filter.png') no-repeat !important;margin-left: 10px;}
    #meetView .nvbar .search {background:url('./images/search.png') no-repeat !important;width: 25px;height: 25px;background-size: 100%;padding: 0px 0px 20px 20px;margin: 3px 0px 0 1px;}
    #meetView ul{margin-top: 20px;}
    #meetView li {float:left;width:50%}
    #meetView li .main {width: 100%;display: inline-block;}
    #meetView li .main .imageDiv{float: left;}
    #meetView li .main .imageDiv img {width:100%;border: 1px solid #ccc;}
    #meetView li .main .contentDv{float:left;width:100%}
    #meetView li .main .contentDv p:first-child {text-align:center;color:#022829;font-size: 18px;font-weight: 500;}
    #meetView li .main .contentDv p:last-child{text-align:center;font-size: 14px;margin-top: -10px;}
    #meetView li .main .contentDv p:last-child label {color:#022829;}
    #meetView li .main .contentDv p:last-child .intrstSpn{font-weight: bold;;color:#2AA360}
    #meetView .km-list>li {border-style: solid;border-width: 0 0 0px 0;line-height:0px}
    
    /*---------------------------------------------------------------------------------------------------------------------*/
    /* Add Interest View*/
    #interestView .wrapper {width:95%;height:auto;margin:0px auto}
    #interestView .wrapper .mainDv {width:100%;height:auto;}
    #interestView .wrapper .mainDv .textTitle {font-size:25px;}
    #interestView .wrapper .mainDv .selectBox {width:100%;height:40px}
    
}